@import url('https://fonts.googleapis.com/css?family=Fira+Code&display=swap');

body {
    position: relative;
    font-family: sans-serif;
    overflow: hidden;
    top: 0;
    padding: 0;
    margin: 0;
}
.button {
  background-color: #3f3f3f; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: auto;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 12px;

}

.container {
  height: 100vh;
  display:none;
}

.radio-container {
  position: absolute;
  bottom: -56vh;
  right: 15vh;
}

#playerlistcontaner {
  position: absolute;
  width: 10.90vh;
  height: 16.8vh;
  bottom: 12.5vh;
  left: 3.75vh;
  transition: all 0.1s linear;
  /* text-align: center; */
  display: none;
  background-color: rgb(0, 59, 114);
  border-radius: 5px;
  overflow-x: auto;
  overflow-y: auto;
  padding: 3px;
  color: #f1f1f1;
  z-index: 100;
  font-size:11.5px;
}

.radio {
  width: 18vh;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#playerlist {
  position: absolute;
  width: 10.6vh;
  height: 3.2vh;
  bottom: 9vh;
  left: 4.2vh;
  transition: all 0.1s linear;
  text-align: center;
}

#submit {
  position: absolute;
  width: 2.2vh;
  height: 3.2vh;
  bottom: 14vh;
  left: 4.2vh;
  border-radius: 5px;
  transition: all 0.1s linear;
}

/* #submit:hover {
  background: rgba(255, 255, 255, 0.25);
  opacity: 0%;
} */

#disconnect {
  position: absolute;
  width: 2.2vh;
  height: 3.2vh;
  bottom: 14vh;
  right: 3.2vh;
  border-radius: 5px;
  transition: all 0.1s linear;
}

/* #disconnect:hover {
  background: rgba(255, 255, 255, 0.25);
  opacity: 0%;
} */

#volumeUp {
  position: absolute;
  width: 3.3vh;
  height: 1.9vh;
  bottom: 18vh;
  right: 3.1vh;
  border-radius: 5px;
  transition: all 0.1s linear;
}

/* #volumeUp:hover {
  background: rgba(255, 255, 255, 0.25);
  opacity: 0%;
} */

#volumeDown {
  position: absolute;
  width: 3.3vh;
  height: 1.9vh;
  bottom: 18vh;
  left: 4.0vh;
  border-radius: 5px;
  transition: all 0.1s linear;
}

/* #volumeDown:hover {
  background: rgba(255, 255, 255, 0.25);
  opacity: 0%;
} */

#increaseradiochannel {
  position: absolute;
  width: 3.3vh;
  height: 1.9vh;
  bottom: 37vh;
  left: 10.0vh;
  border-radius: 5px;
  transition: all 0.1s linear;
}

/* #increaseradiochannel:hover {
  background: rgba(255, 255, 255, 0.25);
  opacity: 0%;
} */

#decreaseradiochannel {
  position: absolute;
  width: 3.3vh;
  height: 1.9vh;
  bottom: 37vh;
  left: 6.4vh;
  border-radius: 5px;
  transition: all 0.1s linear;
}

/* #decreaseradiochannel:hover {
  background: rgba(255, 255, 255, 0.25);
  opacity: 0%;
} */

#poweredOff {
  position: absolute;
  width: 3.3vh;
  height: 2.9vh;
  bottom: 5vh;
  left: 8.0vh;
  border-radius: 5px;
  transition: all 0.1s linear;
}

/* #poweredOff:hover {
  background: rgba(255, 255, 255, 0.25);
  opacity: 0%;
} */

.onoff button {
  padding: 40px 55px;
  opacity: .0;
}

.channel {
  position: absolute;
  bottom: 24vh;
  left: 5.3vh;
  background: none;
}

::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.channel span {
  text-align: center;
  color: rgba(0, 0, 0, 0.75);
}

.channel input {
  text-align: center;
  border: none;
  font-size: 25px;
  background: none;
  outline: none;
  font-family: 'Fira Code', monospace;
  width: 5vw;
}

::-webkit-inner-spin-button {
  display: none;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
